body{
    font-family: Arial, sans-serif;
    margin:0;
    background: #f9f9f9;
    color: #333;

header{
    background: #000;
    color: #fff;
    padding: 30px;
    text-align: center;
}
nav{
    margin: 0 35px;
    color: #ffa500;
    text-decoration: none;
    font-weight: bold;
}
.hero{
    text-align: center;
    padding: 50px 20px;
    background-color: #ffa500;
    color: #fff;
}
.produtos{
    padding: 40 px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}
.produtos-card{
    background: #fff;
    border: 1px solid #ccc;
    width: 200px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}
.produtos-card img{
    width: 15%;
    height: auto;
}
.contato{
    padding: 40px 20px;
    background: #eee;

}
.watsapp-float{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 9px rgb(0,0,0,0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;

}
.watsapp-float:hover {
    background-color: #128c7e;
    transform: scale(1.1);

}
.watsapp-float img {
    width: 30px;
    height: 30px;
}
.whats img{
    width: 50px;
    height: 50px;

}
footer{
    background:#000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
}